
.app{
  border:solid red 1px;
  width: 70%;
  margin: 0 auto;
}


.cardHeader{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cardHeader .currentWeather{
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  text-align: center;

}

.gap{
  flex:1;
}

.cardHeader .currentWeather{
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.currentWeather .additionalDetails{
  display:inline-flex;
}

.cardHeader .country{
  flex: 1;
  text-align: center;
}



.cardBody{
  display: flex;
}

.cardBody .twitterFeedSection{
  flex:1;
}

.twitterFeedSection .header{
  display: flex;
  justify-content: flex-start;
  margin-left:10%;
}

.twitterFeedSection .body{
  display:flex;
  flex-direction: column;
}

.twitterFeedSection .body .tweets .tweet{
  padding-left:10%;
  padding-right:10%;
}

.twitterFeedSection .body .navigation{
  margin: 0 auto;
  width:fit-content;
}

.cardBody .weekDayDetails{
  display: inline-flex;
  flex:2;
  flex-wrap: wrap;
}

.weekDayDetails .weekDay{
  text-align: center;
  flex:1;
}

