@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");
.todos {
  $transition-time: 0.3s;
  $todo-list-background-color: rgba(16, 16, 16, 0.8);
  $open-button-height: 4rem;
  font-family: "Kalam", cursive;
  z-index: 1;
  button {
    margin: 0.5rem;
    background-color: rgba(16, 16, 16, 0.3);
    border: none;
    appearance: none;
    box-shadow: none;
    font-size: 3rem;
    color: white;
    border-bottom: 1px rgba(255, 255, 255, 0.623) solid;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      // box-shadow: none;
      outline: none;
    }
  }
  &:before {
    transition: width $transition-time;
    content: "";
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: $open-button-height;
    background-color: $todo-list-background-color;
  }
  ol {
    margin-top: $open-button-height;
    font-size: 2rem;
    transition: width $transition-time;
    z-index: -1;
    position: absolute;
    top: 0rem;
    width: 100vw;
    height: calc(100vh - 4rem);

    overflow: scroll;
    background-color: $todo-list-background-color;

    li {
      margin: 1rem;
      color: rgb(46, 187, 230);
      margin-left: 3rem;
      list-style-position: outside;
      list-style-type: decimal;
    }
  }

  &.close {
    &:before {
      width: 0;
    }
    button {
      font-size: 1rem;
      height: 3.2rem;
      width: 3.2rem;
      border-radius: 50%;
      box-shadow: 0px 0px 10px rgba(255, 145, 0, 0.699);
    }
    ol {
      width: 0;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}
